<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUI.Properties.Settings.QLySTKConnectionString" connectionString="Data Source=DESKTOP-R2V4NM2\MSSQLSERVER2022;Initial Catalog=QLySTK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GUI.Properties.Settings.QLSTKConnectionString" connectionString="Data Source=DESKTOP-R2V4NM2\MSSQLSERVER2022;Initial Catalog=QLSTK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>